<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Covid19 Tracking App</title>
</head>
<body>
<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
    </tr>
    <tr th:each="locationStat : ${localStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
    </tr>
</table>
</body>
</html>